*Makefile
*Makefile.in
aclocal.m4
autogen.sh
autom4te.cache/
configure
compile
config.guess
config.log
config.status
config.sub
do_verify.sh
libtool
ltmain.sh
missing
dockapp.pc
*~
configure.no-verify
